span.token.tag {
  --color: unset;
  --background: unset;
  align-items: unset;
  background-color: unset;
  border-radius: unset;
  color: unset;
  display: unset;
  flex-direction: unset;
  font-size: unset;
  gap: unset;
  line-height: unset;
  min-height: unset;
  padding: unset;
  vertical-align: unset;
}
