.button {
  place-content: center;
  &:nth-child(n) {
    margin: 0;
  }
  :global(span.icon) {
    pointer-events: none;
  }
  :global([class*='p-']) {
    font-size: inherit;
  }
}

.gap {
  && {
    gap: var(--gap);
  }
}
