.flex {
  display: flex;
  align-content: var(--align-content);
  align-items: var(--align-items);
  column-gap: var(--column-gap);
  flex-direction: var(--flex-direction);
  flex-wrap: var(--flex-wrap);
  gap: var(--gap);
  justify-content: var(--justify-content);
  row-gap: var(--row-gap);
}
